# Ignore virtual environment directories
venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore compiled files
*.so
*.dll
*.dylib

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

training/config.py
training
runs
yolov8x.pt
