court_line_detector/__pycache__/
input_videos/
# input_videos/image.png
# input_videos/input_videos.mp4
models/
output_videos/
# output_videos/output_video.avi
runs/
tracker_stubs/
trackers/__pycache__/
training/runs/
training/tennis_court_det_dataset/
training/tennis-ball-detection-6/
training/config.py
training/*.pt
utils/__pycache__/
*.pt